.modal-newsletter {
    color: #999;
    font-size: 15px;
}
.modal-newsletter .modal-content {
    padding: 40px;
    border-radius: 0;
    border: none;
}
.modal-newsletter .modal-header {
    border-bottom: none;
    position: relative;
    text-align: center;
    border-radius: 5px 5px 0 0;
}
.modal-newsletter h4 {
    color: #000;
    text-align: center;
    font-size: 30px;
    margin: 0 0 25px;
    font-weight: bold;
}
.modal-newsletter .close {
    background: #c0c3c8;
    position: absolute;
    top: -15px;
    right: -15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
    width: 22px;
    height: 22px;
    border-radius: 20px;
    font-size: 16px;
}
.modal-newsletter .close span {
    position: relative;
    top: -1px;
}
.modal-newsletter .close:hover {
    opacity: 0.8;
}
.modal-newsletter .icon-box {
    color: #E53526;
    display: inline-block;
    z-index: 9;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}
.modal-newsletter .icon-box i {
    font-size: 110px;
}
.modal-newsletter .form-control, .modal-newsletter .btn {
    min-height: 46px;
    border-radius: 3px;
}
.modal-newsletter .form-control {
    box-shadow: none;
    border-color: #dbdbdb;
}
.modal-newsletter .form-control:focus {
    border-color: #E53526;
    box-shadow: 0 0 8px rgba(114, 101, 234, 0.5);
}
.modal-newsletter .btn {
    color: #fff;
    border-radius: 4px;
    background: #E53526;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    padding: 6px 20px;
    min-width: 150px;
    border: none;
}
.modal-newsletter .btn:hover, .modal-newsletter .btn:focus {
    background: #E53526;
    outline: none;
}
.modal-newsletter .input-group {
    margin: 30px 0 15px;
}
.hint-text {
    margin: 100px auto;
    text-align: center;
}
