{% extends "layout.html.twig" %}

{% set active = article.categorie.libelle | capitalize %}

{% block page_title %}{{ article.titre | title }}{% endblock %}

{% block content %}
    {#{{ dump(article) }}#}
    {#{{ dump(categorie) }}#}
    {#{{ dump(article.categorie.libelle) }}#}
    <div class="row">
        <!--colleft-->
        <div class="col-md-8 col-sm-12">
            <!--post-detail-->
            <article class="post-detail">
                <img alt="{{ article.titre }}" src="{{ asset('images/product/'~article.featuredimage) }}">
                <h1>{{ article.titre | title }}</h1>
                <div class="meta-post">
                    <a href="#">
                        {{ article.auteur.prenom ~ ' ' ~ article.auteur.nom }}
                    </a>
                    <em></em>
                    <span>
                        {{ article.dateCreation | date('d/m/Y') }}
                    </span>
                </div>

                {{ article.contenu | raw }}

                <h5 class="text-right font-heading"><strong>{{ article.auteur.prenom ~ ' ' ~ article.auteur.nom }}</strong> </h5>

            </article>
            <!--social-detail-->
            <div class="social-detail">
                <span>   Suivez-nous</span>

                <ul class="list-social-icon">
                    <li>
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="google">
                            <i class="fa fa-google"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="youtube">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pinterest">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="rss">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>

                </ul>
            </div>

            <!--related post-->
            <div class="detail-caption">
                <span>  Suggestions</span>
            </div>
            <section class="spotlight-thumbs spotlight-thumbs-related">
                <div class="row">
                    {% for article in suggestions %}
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="spotlight-item-thumb">
                                <div class="spotlight-item-thumb-img">
                                    <a href="{{ url('index_article', {
                                        'categorie' : article.categorie.libelle | slugify,
                                        'slug' : article.titre | slugify,
                                        'id' : article.id
                                    }) }}">
                                        <img alt="" src="{{ asset('images/product/'~article.featuredimage) }}">
                                    </a>
                                    <a href="{{ url('index_categorie', {
                                        'libelle' : article.categorie.libelle | slugify
                                    }) }}" class="cate-tag">{{ article.categorie.libelle }}</a>
                                </div>
                                <h3><a href="{{ url('index_article', {
                                        'categorie' : article.categorie.libelle | slugify,
                                        'slug' : article.titre | slugify,
                                        'id' : article.id
                                    }) }}">{{ article.titre | title }}</a></h3>
                                <div class="meta-post">
                                    <a href="#">
                                        {{ article.auteur.prenom ~ ' ' ~ article.auteur.nom }}
                                    </a>
                                    <em></em>
                                    <span>
                                        {{ article.dateCreation | date('d/m/Y') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>

        {# Sidebar #}
        {#{% include 'components/_sidebar.html.twig' %}#}
        {{ render(controller('App\\Controller\\TechNews\\IndexController::sidebar')) }}

    </div>
{% endblock %}

