{% extends "layout.html.twig" %}

{% block page_title author.firstname~' '~author.lastname %}

{% set active = "author" %}

{# from layout.html.twig #}
{% block content %}

    <div class="row">

        <!--colleft-->
        <div class="col-md-8 col-sm-12">

            {# Flash bags #}
            {% include 'components/_flashbags.html.twig' %}

            {% if articles is  empty %}
                <div class="alert alert-danger">
                    <strong>{% trans %}error.nopublication{% endtrans %}</strong>
                </div>
            {% else %}

                <div class="box-caption">
                    <span>{{ author.firstname }} {{ author.lastname }}</span>
                </div>

                <!--list-news-cate-->
                <div class="list-news-cate">
                    <article class="news-cate-item">
                        {% for article in articles %}
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    {{ articleImageLink(article) | raw }}
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    <h3>{{ articleLink(article,47) | raw }}</h3>
                                    <div class="meta-post">
                                        {{ authorLink(article.author) | raw }}
                                        <em></em>
                                        <span>{{ article.dateCreation }}</span>
                                    </div>
                                    {{  article.content |  maxLen(250) | raw }}
                                </div>
                            </div>

                            <br/>

                            {% include 'components/_btn_auteur.html.twig' %}
                            {% include 'components/_btn_corecteur.html.twig' %}
                            {% include 'components/_btn_publicateur.html.twig' %}
                            {% include 'components/_btn_editeur.html.twig' %}

                        {% endfor %}
                    </article>
                </div>

                <div class="paging">
                    {% if currentPage>1 %}{{ authorLink( author,null,"pagination.prev"|trans, currentPage-1) | raw  }}{% endif %}
                    {% for i in 0..countPagination-1 %}
                        {% if currentPage==i+1 %}
                            {% set paginationClass='current' %}
                        {% else %}
                            {% set paginationClass='' %}
                        {% endif %}
                        {{ authorLink(author,paginationClass,i+1,i+1) | raw  }}
                    {% endfor %}
                    {% if currentPage<countPagination %}{{ authorLink( author,null,"pagination.next"|trans, currentPage+1) | raw  }}{% endif %}
                </div>

            {% endif %}

        </div>

        {# Side bar #}
        {#% include 'components/_sidebar_html.twig' %#}
        {{ render(controller('App\\Controller\\SectionController::sideBar')) }}


    </div>
{% endblock %}
