{% extends "layout.html.twig" %}

{% set active = 'accueil' %}

{% block page_title %}
    Accueil
{% endblock %}

{% block content %}

{#{{ dump(app.user) }}#}

{#{{ dump(articles) }}#}
<div class="row">
    <!--colleft-->
    <div class="col-md-8 col-sm-12">
        <div class="box-caption">
            <span>spotlight</span>
        </div>
        <!--spotlight-->
        <section class="owl-carousel owl-spotlight">
            {% for article in spotlight %}
                <div>
                    <article class="spotlight-item">
                        <div class="spotlight-img">
                            <img alt="" src="{{ asset('images/product/'~article.featuredimage) }}" class="img-responsive" />
                            <a href="{{ url('index_categorie', {
                                'libelle' : article.categorie.libelle | slugify
                            }) }}" class="cate-tag">{{ article.categorie.libelle }}</a>
                        </div>
                        <div class="spotlight-item-caption">
                            <h2 class="font-heading">
                                <a href="{{ url('index_article', {
                                    'categorie' : article.categorie.libelle | slugify,
                                    'slug' : article.titre | slugify,
                                    'id' : article.id
                                }) }}">
                                    {{ article.titre | title }}
                                </a>
                            </h2>
                            <div class="meta-post">
                                <a href="#">
                                   {{ article.auteur.prenom ~ ' ' ~ article.auteur.nom }}
                                </a>
                                <em></em>
                                <span>
                                    {{ article.dateCreation | date('d/m/Y') }}
                                </span>
                            </div>
                            {{ article.contenu | accroche | raw }}
                        </div>
                    </article>
                </div>
            {% endfor %}
        </section>

        <!--spotlight-thumbs-->
        <section class="spotlight-thumbs">
            <div class="row">
                {% for article in articles %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="spotlight-item-thumb">
                            <div class="spotlight-item-thumb-img">
                                <a href="{{ url('index_article', {
                                    'categorie' : article.categorie.libelle | slugify,
                                    'slug' : article.titre | slugify,
                                    'id' : article.id
                                }) }}">
                                    <img alt="" src="{{ asset('images/product/'~article.featuredimage) }}" />
                                </a>
                                <a href="{{ url('index_categorie', {
                                    'libelle' : article.categorie.libelle | slugify
                                }) }}" class="cate-tag">{{ article.categorie.libelle }}</a>
                            </div>
                            <h3><a href="{{ url('index_article', {
                                    'categorie' : article.categorie.libelle | slugify,
                                    'slug' : article.titre | slugify,
                                    'id' : article.id
                                }) }}">{{ article.titre | title }}</a></h3>
                            <div class="meta-post">
                                <a href="#">
                                    {{ article.auteur.prenom ~ ' ' ~ article.auteur.nom }}
                                </a>
                                <em></em>
                                <span>
                                {{ article.datecreation | date('d/m/Y') }}
                            </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

    {# Sidebar #}
    {#{% include 'components/_sidebar.html.twig' %}#}
    {{ render(controller('App\\Controller\\TechNews\\IndexController::sidebar')) }}

{% endblock %}
