{% extends "layout.html.twig" %}

{% block page_title 'sidebar.lastpublication'|trans %}

{% set active = 'last' %}

{# from layout.html.twig #}
{% block content %}

    <div class="row">

        <!--colleft-->
        <div class="col-md-8 col-sm-12">

            {% if articles is  empty %}
                <div class="alert alert-danger">
                    <strong>{% trans %}error.nopublication{% endtrans %}</strong>
                </div>
            {% else %}

                <div class="box-caption">
                    <span>{% trans %}sidebar.lastpublication{% endtrans %}</span>
                </div>

                <!--list-news-cate-->
                <div class="list-news-cate">
                    <article class="news-cate-item">
                        {% for article in articles %}
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    {{ articleImage(article) | raw }}
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    <h3>{{ articleLink(article,47) | raw }}</h3>
                                    <div class="meta-post">
                                        {{ authorLink(article.author) | raw }}
                                        <em></em>
                                        <span>{{ article.dateCreation }}</span>
                                    </div>
                                    {{  article.content |  maxLen(250) | raw }}
                                </div>
                            </div>
                        {% endfor %}
                    </article>
                </div>

                <div class="paging">
                    {% if currentPage>1 %}{{ lastLink( "pagination.prev"|trans , null , currentPage-1 ) | raw  }}{% endif %}
                    {% for i in 0..countPagination-1 %}
                        {% if currentPage==i+1 %}
                            {% set paginationClass='current' %}
                        {% else %}
                            {% set paginationClass='' %}
                        {% endif %}
                        {{ lastLink(((i+1)~''),paginationClass,i+1  ) | raw  }}
                    {% endfor %}
                    {% if currentPage<countPagination %}{{ lastLink( "pagination.next"|trans , null, currentPage+1 ) | raw  }}{% endif %}
                </div>

            {% endif %}

        </div>

        {# Side bar #}
        {#% include 'components/_sidebar_html.twig' %#}
        {{ render(controller('App\\Controller\\SectionController::sideBar')) }}


    </div>
{% endblock %}