<!--colright-->
<div class="col-md-4 col-sm-12">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h3 class="text-center">Bonjour {{ app.user.prenom }}</h3>
        <h4 class="text-center">
            {% if is_granted('ROLE_ADMIN') %}
                Administrateur
            {% elseif is_granted('ROLE_AUTEUR') %}
                Auteur
            {% else %}
                Membre
            {% endif %}
        </h4>
        <ul class="list-group">
            {% if is_granted('ROLE_AUTEUR') %}
                <li class="list-group-item">
                    <a href="{{ url('article_add') }}">Créer un Article</a>
                </li>
            {% endif %}
            <li class="list-group-item">
                <a href="{{ url('deconnexion') }}">Déconnexion</a>
            </li>
        </ul>
    {% endif %}
    <!--tab popular-->
    <ul role="tablist" class="tab-popular">
        <li class="active">
            <a href="#tab1" role="tab" data-toggle="tab">
                DERNI&Egrave;RE PUBLICATIONS
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <ul class="list-news-popular">
                {% for article in articles %}
                    <li>
                        <a href="{{ url('index_article', {
                            'categorie' : article.categorie.libelle | slugify,
                            'slug' : article.titre | slugify,
                            'id' : article.id
                        }) }}">
                            <img alt="" src="{{ asset('images/product/'~article.featuredimage) }}">
                        </a>
                        <h3><a href="{{ url('index_article', {
                                'categorie' : article.categorie.libelle | slugify,
                                'slug' : article.titre | slugify,
                                'id' : article.id
                            }) }}">{{ article.titre | title }}</a></h3>
                        <div class="meta-post">
                            <a href="#">
                                {{ article.auteur.prenom ~ ' ' ~ article.auteur.nom }}
                            </a>
                            <em></em>
                            <span>
                                {{ article.dateCreation | date('d/m/Y') }}
                            </span>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>


    <!-- connect us-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				SUIVEZ-NOUS
			</span>
        </div>
        <ul class="list-social-icon">
            <li>
                <a href="#" class="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" class="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" class="google">
                    <i class="fa fa-google"></i>
                </a>
            </li>
            <li>
                <a href="#" class="youtube">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </li>
            <li>
                <a href="#" class="pinterest">
                    <i class="fa fa-pinterest-p"></i>
                </a>
            </li>
            <li>
                <a href="#" class="rss">
                    <i class="fa fa-rss"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- special post-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				En Avant
			</span>
        </div>
        <div class="list-special">
            {% for article in specials %}
                <article class="news-two-large">
                    <a href="{{ url('index_article', {
                        'categorie' : article.categorie.libelle | slugify,
                        'slug' : article.titre | slugify,
                        'id' : article.id
                    }) }}">
                        <img alt="{{ article.titre }}" src="{{ asset('images/product/'~article.featuredimage) }}">
                    </a>
                    <h3><a href="{{ url('index_article', {
                            'categorie' : article.categorie.libelle | slugify,
                            'slug' : article.titre | slugify,
                            'id' : article.id
                        }) }}">{{ article.titre | title }}</a></h3>
                    <div class="meta-post">
                        <a href="#">
                            {{ article.auteur.prenom ~ ' ' ~ article.auteur.nom }}
                        </a>
                        <em></em>
                        <span>
                            {{ article.dateCreation | date('d/m/Y') }}
                        </span>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</div>
